html{background-color: rgba(176,147,117,255);}
*{margin: 0px; padding: 0px;}
p{font-family: serif;}
.page-title{font-size: 52px;}
body{overflow-x: hidden;}
.line{
width: 100%;
color: black;
border-style: solid;
margin-top: 0px;
margin-bottom: 0px;}

.nav{
position: fixed;
width: 100%;
background-color: rgba(176,147,117,255);}

.navlink{
margin-top: 0px;
margin-bottom: 0px;
background-color: rgba(176,147,117,255);
font-size: 24px;
margin-left: 10px;
display: inline-block;}
.navlink-first{margin-left: 0px;}

.assignment{
width: 600px;
border-width: 1px;
border-style: solid;
display: inline-block;}

.assignment-desc{
font-size: 20px;}

.assignment-img{
float: top;
width: 600px;}